<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.itgungnir.kwa.support">

    <application android:theme="@style/AppTheme">

        <activity
            android:name=".search_result.SearchResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".web.WebActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".hierarchy.HierarchyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".schedule.ScheduleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".schedule.done.ScheduleDoneActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
